build/bin
node_modules
frontend/dist
lib/models
config/config.json
*.dll
*.onnx
*.exe
!lib/*.dll
*.log
*.msi
*.rar
*_log.txt
*_check.txt
*_doctor.txt
*_install.txt
app_status.txt
gopath.txt
gcc_check.txt
build_log2.txt
install_gcc.txt
